[run]
branch = True
omit = /usr*,setup.py,*egg*,.venv/*,.tox/*,test/probe/*
parallel = True
sigterm = True
source = swift,oio_tests,proxy,test/unit/common/middleware/crypto,test/unit/common/middleware/s3api

[report]
show_missing = True
ignore_errors = True

[paths]
source =
    ./
    /tmp/*/run/
