[run]
branch = True
omit = /usr*,setup.py,*egg*,.venv/*,.tox/*,test/*
parallel = True
sigterm = True
source = swift,oio_tests,proxy

[report]
show_missing = True
ignore_errors = True

[paths]
source =
    ./
    /tmp/*/run/
