[submodule "oio-sds"]
	path = third_party/oio-sds
	url = ssh://git@stash.ovh.net:7999/openio/oio-sds.git
	branch = master

[submodule "ceph-s3tests"]
	path = third_party/ceph-s3tests
	url = https://github.com/open-io/ceph-s3-tests.git
	branch = master

[submodule "ceph-s3tests-reports"]
	path = third_party/ceph-s3tests-reports
	url = https://github.com/thibault-p/s3compat.git
