# Custom branch until https://review.opendev.org/c/openstack/ceilometermiddleware/+/882166 is merged
git+ssh://git@stash.ovh.net:7999/cloudstoragepcs/ceilometermiddleware@v3.1.0#egg=ceilometermiddleware

git+ssh://git@stash.ovh.net:7999/openio/swift-headers4ceilometer@master#egg=swift_headers4ceilometer
git+ssh://git@stash.ovh.net:7999/cloudstoragepcs/swift-logger-ltsv@master#egg=swift_logger_ltsv
git+ssh://git@stash.ovh.net:7999/cloudstoragepcs/swift-endpoint-filter@master#egg=swift_endpoint_filter
keystonemiddleware
xmltodict
git+ssh://git@stash.ovh.net:7999/openio/oio-sds@dev/vmerat/mpu-async-parts-deletion#egg=oio
